Source: simpleswitcher
Section: x11
Priority: extra
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/seanpringle/simpleswitcher/
#Vcs-Git: git://git.debian.org/collab-maint/simpleswitcher.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simpleswitcher.git;a=summary

Package: simpleswitcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Popup window switcher for X11
 A popup window switcher roughly based on superswitcher,
 requiring only xlib and xft.
 .
  * Switcher centered on screen (or monitor for multi-head).
 .
  * Vertical list with three columns:
    1. Desktop number.
    2. Window class.
    3. Window title.
 .
  * Controls like dmenu:
    * Type to filter windows.
    * Arrows to highlight selections.
    * Return to select.
 .
  * Modes to display:
    * All windows on all desktops.
    * Only windows on current desktop.
 .
  * Runs in background or once-off.
